name: CI/CD IoT MQTT API

on:
  push:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Login to DockerHub
      run: echo ${{ secrets.DOCKER_PASS }} | docker login -u ${{ secrets.DOCKER_USER }} --password-stdin

    - name: Build Image
      run: docker build -t ${{ secrets.DOCKER_USER }}/iot-mqtt-api .

    - name: Push Image
      run: docker push ${{ secrets.DOCKER_USER }}/iot-mqtt-api
